#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See timesyncd.conf(5) for details.

[Time]
NTP={{ timesyncd_servers | join(' ') }}
FallbackNTP={{ timesyncd_fallback_servers | join(' ') }}
RootDistanceMaxSec={{ timesyncd_root_distance_max_seconds }}
PollIntervalMinSec={{ timesyncd_poll_interval_min_seconds }}
PollIntervalMaxSec={{ timesyncd_poll_interval_max_seconds }}